footer {
    background-image: linear-gradient($color1 45%, $color2);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
        &h2{
            color: #F00758;
        }
}
