form{
    font-size: 20px;
    width: 40vh;
    background-color: palevioletred;
    color: white;
    text-align: center;
    border: 5px solid $color3;
    margin: 20vh auto;
    font-family: 'Bebas Neue', cursiva; 
        &h3{
            font-size: 35px;
            background-color: $color3;
            padding: 5px;
        }
}

