.navbar {
    background-color: $color1;
        &.container-fluid {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &.logo{
            width: 50%;
                &img {
                    width: 100%;
                }
        }
}
<<<<<<< HEAD
=======
.navbar-light .navbar-nav .nav-link {
    color: $color2;
    font-size: 15px;
}

>>>>>>> 53e34a951312049277902d21e6fa85cf4f4edad4
