.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
        &h1 {
            text-align: center;
            color:$color2;
            text-shadow: 2px 2px 2px $color1;
        }
        &.info {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap; 
<<<<<<< HEAD
            & .info--info1 {
=======
            & .imginfo1 {
>>>>>>> 734f659635b89ad05d0d85067d468efa4b288cc0
                width: 40%;
                height: 40vh;
                margin: 5%;
            }
<<<<<<< HEAD
            & .info--info2 {
                @extend .info--info1;
=======
            & .imginfo2{
                @extend .imginfo1;
>>>>>>> 734f659635b89ad05d0d85067d468efa4b288cc0
            }
        }
    
}
.imgProductos:hover{
    transform: scale(1.2)
}
