@mixin sizes ($whidth, $margin){
    whidth: $whidth;
    margin:$margin
}
.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
        &h1 {
            text-align: center;
            color:$color2;
            text-shadow: 2px 2px 2px $color1;
        }
        &.portada {
        @include sizes(90%, 0 auto );
            display: flex;
            flex-wrap: wrap;
            &.imgPortada {
                @include sizes(50% , 0 )
            }
            &.imgProductos {
                @include sizes(40% , 5% );
                height: 40vh;
                height: 40vh;
            
            }
            & .imgProductos3 {
                display: none;
            }
        }
}
.imgProductos:hover{
    transform: scale(1.2)
}
