*{
    margin: 0%;
    padding: 0%;
}

/* header */

.navbar {
    background-color: pink;
}
.navbar-light .navbar-nav .nav-link {
    color: #FF6C0F;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #F00758;
}
.logo{
    width: 50%;
}
.logo img {
    width: 100%;
}
.container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* main index */

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    color:#FF6C0F;
    text-shadow: 2px 2px 2px pink;
}
.portada {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.imgPortada {
    width: 50%;
    margin: 0 ;
}
.imgProductos {
    width: 40%;
    height: 40vh;
    margin: 5%;
}
.imgProductos:hover{
    transform: scale(1.2)
}

.imgProductos3 {
    display: none;
}
/* forms */
form{
    font-size: 20px;
    width: 40vh;
    background-color: palevioletred;
    color: white;
    text-align: center;
    border: 5px solid salmon;
    margin: 20vh auto;
    font-family: 'Bebas Neue', cursiva; 
}
h3{
    font-size: 35px;
    background-color: salmon;
    padding: 5px;
}
/* productos */
.cardsconteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardsproductos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}
.card{
    background-color: #FF6C0F;
    color: white;
    margin: 0 auto;
}
.btn .btn-primary .cards{
    background-color: #F00758;
}

/* informacion */
.contacto{
    color: #F00758;
}

/* footer  */
footer {
    background-image: linear-gradient(pink 45%, #FF6C0F);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-primary{
color: white;
background-color: #F00758;
border-color:#F00758 ;
}
.btn-primary:hover{
    background-color: #FF6C0F;
    border-color: #F00758;
}
@media only screen and (min-width: 481px) {
    .logo img {
        width: 70%;
    }
    .imgProductos{
        height: 60vh;
    }
    form{
        margin:  16vh auto;
    }
}

@media only screen and (min-width: 769px) {
    .logo img {
        width: 50%;
    }
    .imgProductos {
        height: 85vh;
    }
    form{
        margin:  15vh auto;
    }
}

@media only screen and (min-width: 1024px) {
    .container-fluid {
        justify-content: space-between;
    }
    .menu {
        justify-content: flex-end;
    }
    .imgProductos {
        width: 30%;
        height: 85vh;
        margin: 1.5%;
    }
    .imgProductos3 {
        display: block;
        width: 30%;
        height: 85vh;
        margin: 1.5%;
    }
    .imgProductos3:hover{
        transform: scale(1.2)
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 17px;
    }
    form{
        width: 75vh;
        margin:  13vh auto;
    }
    .btn-primary{
        height: 60px;
        width: 150px;
    }
}

@media only screen and (min-width: 1624px) {
    .logo img {
        width: 30%;
    }
    .container-fluid {
        justify-content: space-between;
    }
    .menu {
        justify-content: flex-end;
    }
    .portada {
        height: 95%;
    }
    .imgPortada {
        width: 50%;
        height: 95vh;
        margin: 0 ;
    }
    .imgProductos {
        height: 95vh;
    }
    .imgProductos3 {
        display: block;
        width: 30%;
        height: 95vh;
        margin: 1.5%;
    }
    .imgProductos3:hover{
        transform: scale(1.2)
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }
    form{
        width: 90vh;
    }
    .btn-primary{
        height: 60px;
        width: 150px;
    }
}
