$color1:pink;
$color2: #FF6C0F; 
$color3:#F00758;
$color4: salmon;

*{
    margin: 0%;
    padding: 0%;
}

/*header*/

.navbar {
    background-color: $color1;
    width: 100%;
}

.navbar-light {
    & .navbar-nav {
        & .nav-link {
            color: $color2;
            font-size: 15px;
            & :hover {
                color: $color3;
            }
        }
    }
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .logo {
        width: 50%;
        & img {
            width: 100%;
        }
    }
}


.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color:$color2;
    text-shadow: 2px 2px 2px $color1;
}

.portada {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    & .imgPortada {
        width: 50%;
        margin: 0 ;
    }
    & .imgProductos {
        width: 40%;
        height: 25vh;
        margin: 5%;
    }
    & .imgProductos3 {
        display: none;
    }
}

.imgProductos:hover{
    transform: scale(1.2)
}

/* forms */

form{
    font-size: 20px;
    width: 30vh;
    background-color: palevioletred;
    color: white;
    text-align: center;
    border: 5px solid $color4;
    margin: 20vh auto;
    font-family: 'Bebas Neue', cursiva; 
    & h3{
        font-size: 35px;
        background-color: $color4;
        padding: 5px;
    }
}
.btn.btn-light{
    background-color: $color2;
    color: $color1;
    border-color: $color2;
    & a{
        color: $color1;
    }
}

/* productos */
.cardsconteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    & .cardsproductos {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap;
        & .card {
            width: 9rem;
            background-color: $color2;
            color: white;
            margin: 0 auto;
        }
    } 
}

.btn-primary{
    background-color: $color3;
    color:$color1;
    border-color: $color3;
}

/* informacion */

.contacto{
    color: $color3;
}

/* footer  */

footer {
    background-image: linear-gradient($color1 45%, $color2);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon {
    color: $color3;
    font-size: 25px;
    justify-items: space-around;
    margin: 20px;
}

@media only screen and (min-width: 481px) {
    .logo img {
        width: 70%;
    }
    .imgProductos{
        height: 60vh;
    }
    form {
        margin:  16vh auto;
    }
    .card{
        width: 13rem;
    }
}

@media only screen and (min-width: 769px) {
    .logo img {
        width: 50%;
    }
    .imgProductos {
        height: 80vh;
    }
    form{
        margin:  14vh auto;
    }
    .card{
        width: 18rem;
    }
}

@media only screen and (min-width: 1024px) {
    .container-fluid {
        justify-content: space-between;
    }
    .menu {
        justify-content: flex-end;
    }
    .imgProductos {
        width: 30%;
        height: 85vh;
        margin: 1.5%;
    }
    .imgProductos3 {
        display: block;
        width: 30%;
        height: 85vh;
        margin: 1.5%;
    }
    .imgProductos3:hover{
        transform: scale(1.2)
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 17px;
    }
    form{
        width: 75vh;
        margin:  13vh auto;
    }
    .btn-primary{
        height: 60px;
        width: 150px;
        text-align:center;
        margin: 5px;
    }
    .btn-light {
        height: 60px;
        width: 150px;
        text-align:center;
        margin: 5px;
    }
    .card{
        width: 25rem;
    }
}

@media only screen and (min-width: 1624px) {
    .logo img {
        width: 30%;
    }
    .container-fluid {
        justify-content: space-between;
    }
    .menu {
        justify-content: flex-end;
    }
    .portada {
        height: 95%;
        & .imgPortada {
            width: 50%;
            height: 95vh;
            margin: 0 ;
        }
        & .imgProductos {
            height: 95vh;
        }
        & .imgProductos3 {
            display: block;
            width: 30%;
            height: 95vh;
            margin: 1.5%;
        }
        & .imgProductos3:hover {
            transform: scale(1.2)
        }
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 30px;
    }
    form{
        width: 90vh;
    }
    .btn-primary{
        height: 60px;
        width: 150px;
    }
}
